<html xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
	      
	<!-- SEO Optimierung -->
	<f:if condition="{data.description}">
	    <f:then>
	        <v:page.header.meta name="description" content="{data.description}"></v:page.header.meta>
	    </f:then>
	</f:if>
	
	<v:page.header.meta name="handheldfriendly" content="true"></v:page.header.meta>
	
	<!-- Robots erlauben oder nicht erlauben -->
	<f:if condition="{data.no_index} == 0">
		<f:then>
			<v:variable.set name="index" value="index" />
		</f:then>
		<f:else>
			<v:variable.set name="index" value="noindex" />
		</f:else>
	</f:if>
	
	<f:if condition="{data.no_follow} == 0">
		<f:then>
			<v:variable.set name="follow" value="follow" />
		</f:then>
		<f:else>
			<v:variable.set name="follow" value="nofollow" />
		</f:else>
	</f:if>
	
	<v:page.header.meta name="robots" content="{index}, {follow}"/>

</html>