<html xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Page"/>

<f:render partial="Assets"/>

<f:render partial="Seo" arguments="{data: data}"/>

<f:render partial="Header" arguments="{general: general, page: data, companydata: companydata}"/>

<f:render partial="Navigation"/>

<f:render partial="Breadcrumb" arguments="{general: general, page: data}"/>

<f:render section="Main"/>

<f:render partial="Footer" arguments="{general: general, page: page, companydata: companydata}"/>

<!-- SEO Optimierung -->
<f:if condition="{page.description}">
    <f:then>
        <v:page.header.meta name="description" content="{page.description}"></v:page.header.meta>
    </f:then>
</f:if>

</html>
