<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{header}">
	<{headertype} class="text-uppercase h2">
		<f:link.typolink parameter="{link}">{header}</f:link.typolink>
	</{headertype}>
</f:if>
</html>
