<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{subheader}">
	<{subheadertype} class="subline {positionClass} text-uppercase theme-{layout}">
		{subheader}
	</{subheadertype}>
</f:if>
</html>
