<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
		
	1 = Listing Karriere
	2 = Listing Messen
	3 = Listing News
	4 = Listing Team
	5 = Listing Projekte
	6 = Detail Karriere
	7 = Detail News
	8 = Detail Projekte
-->

<f:section name="content">
	<section class="news mt-3 mt-lg-5">
		<!--TYPO3SEARCH_begin-->
		<f:switch expression="{settings.templateLayout}">
			<f:case value="1">
				<f:comment>Karriere Listing</f:comment>
				<div class="row">
					<f:for each="{news}" as="newsItem" iteration="iterator">
						<div class="col-xs-12 col-md">
							<f:render partial="List/Karriere" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
						</div>
					</f:for>
				</div>
			</f:case>
			<f:case value="2">
				<f:comment>Listing Messen</f:comment>
				
				<div class="row d-flex flex-md-row align-items-stretch ">
					<div class="navigation">
						<div class="nav flex-column nav-pills py-lg-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
							<f:for each="{news}" as="newsItem" iteration="iterator">
								<a class="nav-link {f:if(condition: iterator.isFirst, then: 'active')}" id="v-pills-home-tab" data-toggle="pill" href="#messe-{iterator.cycle}" role="tab" aria-controls="v-pills-{iterator.cycle}" aria-selected="true">
									{newsItem.title}
								</a>
							</f:for>
						</div>
					</div>
					<div class="news-content">
						<div class="tab-content" id="v-pills-tabContent">
							<f:for each="{news}" as="newsItem" iteration="iterator">
								<f:render partial="List/Messe" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
							</f:for>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="3">
				<f:comment>Listing News</f:comment>				
				<f:for each="{news}" as="newsItem" iteration="iterator">
					
					<f:if condition="{iterator.isFirst}">
						<div class="row">
					</f:if>
					
					<f:if condition="{iterator.cycle} % 2">
						<f:then>
							<div class="col-xs-12 col-md-6">
								<f:render partial="List/News" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
							</div>
						</f:then>
						<f:else>
							<div class="col-xs-12 col-md-6">
								<f:render partial="List/News" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
							</div>
							<f:if condition="{iterator.isLast}">
								<f:then></f:then>
								<f:else>
									</div><div class="row">
								</f:else>
							</f:if>
						</f:else>
					</f:if>
					
					<f:if condition="{iterator.isLast}">
						</div>
					</f:if>
				</f:for>
			</f:case>
			<f:case value="4">
				<f:comment>Team Listing</f:comment>
				<div class="row">
					
					<f:if condition="{news -> f:count()} >= 4">
						<f:then>
							<div class="testimonial swiper-container">
								<div class="swiper-wrapper mb-5">
									<f:for each="{news}" as="newsItem" iteration="iterator">
										<div class="swiper-slide">
											<f:render partial="List/Team" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
										</div>
									</f:for>
								</div>
								<div class="swiper-pagination"></div>
							</div>
						</f:then>
						<f:else>
							<f:for each="{news}" as="newsItem" iteration="iterator">
								<div class="col-xs-12 col-md">
									<f:render partial="List/Team" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
								</div>
							</f:for>
						</f:else>
					</f:if>
				</div>
			</f:case>
			<f:case value="5">
				<f:comment>Listing Projekte</f:comment>
				Bitte Template für Listing auswählen
			</f:case>
		</f:switch>
		<!--TYPO3SEARCH_end-->
	</section>
</f:section>
</html>