p.align-left {
    text-align: left;
}

p.align-center {
    text-align: center;
}

p.align-right {
    text-align: right;
}

p.align-justify {
    text-align: justify;
}

span.underline {
    text-decoration: underline;
}

.fancyboxiframe,
.fancybox,
.morelink {
    text-decoration: none;
}

.fancyboxiframe:after,
.fancybox:after,
.morelink:after {
    font-family: 'icomoon';
    content: "\e903";
}
