<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">

    <h4>Dies kommt aus dem überschrieben Form-Partial</h4>

    <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
        <f:form.textfield
                property="{element.identifier}"
                id="{element.uniqueIdentifier}"
                class="{element.properties.elementClassAttribute} form-control"
                errorClass="{element.properties.elementErrorClassAttribute}"
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
        />
    </f:render>
</formvh:renderRenderable>
</html>
